name: "Build Android APK"

on:
  push:
    branches:
      - main

jobs:
  publish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android

      - name: Install Dependencies
        run: npm install

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Android APK
        run: |
          # 1. Génération de la clé temporaire pour le build
          keytool -genkey -v -keystore edushare.keystore -alias edushare-alias -keyalg RSA -keysize 2048 -validity 10000 -storepass ${{ secrets.ANDROID_KEYSTORE_PASS }} -keypass ${{ secrets.ANDROID_KEYSTORE_PASS }} -dname "CN=KoutonVignon, OU=Dev, O=EduShare, L=Abidjan, S=Abidjan, C=CI"
          
          # 2. Initialisation Android
          npx tauri android init
          
          # 3. Build et Signature forcée
          npx tauri android build --target aarch64 --apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_ANDROID_KEYSTORE_PATH: ../edushare.keystore
          TAURI_ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          TAURI_ANDROID_KEY_ALIAS: edushare-alias
          TAURI_ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASS }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: EduShare-App-Package
          path: src-tauri/gen/android/app/build/outputs/apk/release/*.apk
          if-no-files-found: error
