name: "Build Android APK"

on:
  push:
    branches:
      - main

jobs:
  publish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi, i686-linux-android, x86_64-linux-android

      - name: Install Dependencies
        run: npm install

      - name: Initialize Android Platform
        # Cette ligne simule ce que tu n'as pas pu faire sur ton PC
        run: npx tauri android init --force

      - name: Build Android
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v0.1.1
          releaseName: "EduShare v0.1.1"
          releaseBody: "APK générée automatiquement."
          releaseDraft: true
          prerelease: false
          args: --target android